name: Gunluk Yatirim Raporu
on:
  schedule:
    - cron: '0 16 * * 1-5' # Hafta içi her gün TSİ 19:00'da çalışır
  workflow_dispatch: # İstediğinde elle çalıştırma butonu ekler

jobs:
  run_bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Kutuphaneleri Yukle
        run: pip install -r requirements.txt
      - name: Botu Calistir
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        run: python main.py
